/* frontend/style.css */
body {
    font-family: sans-serif;
    padding-top: 70px; 
}

[v-cloak] {
    display: none;
}

.navbar-brand {
    font-weight: bold;
}

.price {
    color: #dc3545; 
    font-weight: bold;
    font-size: 1.2em;
}

.card {
    transition: transform .2s ease-out, box-shadow .2s ease-out;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.toast-container {
    z-index: 1150 !important; 
}